# Ignore utility files and directories.
bin/
build/
data/
lib/

# Ingnore everything inside plots/ and report/ directories except .tex templates.
plots/*
report/*
!plots/*.tex
!report/*.tex

# Ignore generated archive.
*zip
